[Unit]
Description=Run brain ingest every minute
Requires=periodic-brain-ingest.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
